@CHARSET "UTF-8";

/* コンテンツ
---------------------------------------------------- */
#content .inner {
	width: 100%;
}

/* リスト
---------------------------------------------------- */
#content table {
	width: 100%;
	border-collapse: collapse;
	border: 1px #ccc solid;
	margin: 0 auto;
}
#content table th {
	border: 1px #ccc solid;
	text-align: center;
	background: blue;
	color: white;
}
#content table td {
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
}
#content table .status,
#content table .message,
#content table .file,
#content table .func,
#content table .line {
	display: none;
}
#content table tr:HOVER {
	background: #ffffaa;
}
