@CHARSET "UTF-8";

/* 集計リスト
---------------------------------------------------- */
table.total {
	border-collapse: collapse;
	text-align: right;
}
table.total tr.header {
	border-color: #acc;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	background: green;
	color: white;
}
table.total td {
	border-color: #acc;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	empty-cells: show;
	white-space: nowrap;
	padding: 1px 2px;
}
