@CHARSET "UTF-8";

/* コンテンツ
---------------------------------------------------- */
#content .inner {
	width: 95%;
}

/* リスト
---------------------------------------------------- */
#content table {
	width: 100%;
	border-collapse: collapse;
	border: 1px green solid;
	margin-top: 8px;
}
#content table th {
	border: 1px #ccc solid;
	text-align: center;
	background: blue;
	background: green;
	color: white;
}
#content table td {
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
}
#content table input[type="button"] {
	width: 20px;
}
#content table input.btn_project_add,
#content table input.btn_project_del,
#content table input.btn_project_edit,
#content table input.btn_work_edit,
#content table input.btn_project_save,
#content table input.btn_project_cancel,
#content table input.btn_work_add,
#content table input.btn_work_del,
#content table input.btn_work_save,
#content table input.btn_work_cancel {
	width: 40px;
}
#content table .td_project {
	width: 40%;
}
#content table .td_work {
	width: 40%;
}
#content table .td_ope {
	width: 20%;
}
#content table td:HOVER {
	background: #ffffaa;
}
#editstr {
	width: 100%;
}

/* 変更ダイアログ
---------------------------------------------------- */
#edit_dialog table {
	width: 100%;
}
#edit_dialog td {
	padding-top: 8px;
}
#edit_dialog td label {
	display: block;
}
#edit_dialog td input {
	width: 100%;
}
#editstr-disabled {
	border: 1px #ccc solid;
}
