@CHARSET "UTF-8";

#content .inner {
	padding: 16px 0;
}

/* 案内
---------------------------------------------------- */
#annai {
	position: relative;
	float: left;
	width: 75%;
	margin: 0 auto;
	padding: 0;
	margin: 0;
}
#annai .hyoudai {
	font-size: 40px;
	font-weight: bolder;
	color: green;
}
#annai .setumei {
	margin-top: 8px;
	font-size: 16px;
	color: black;
	width: 95%;
}
#annai .waku {
	width: 95%;
}
#annai .waku .hyoudai {
	font-size: 32px;
}
#annai .waku .kinou {
	position: relative;
	border: 1px solid green;
	margin: 16px 0;
	padding: 8px;
}
#annai .waku .kinou img {
	float: left;
	position: absolute;
	top: -18px;
	left: -24px;
}
#annai .waku .kinou .hyoudai {
	padding-left: 32px;
}
#annai .waku .kinou .setumei {
	margin: 8px 16px 0 16px;
}

.business {
	min-width: 800px;
}
.business img,
.business div {
	position: relative;
	float: left;
}
.arrow_box {
	font-size: 18px;
	padding: 8px;

	margin-left: 16px;
	width: 700px;
	height: 40px;
	position: relative;
	background: #ffffff;
	border: 4px solid #0f0;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 12px;
	top: 50%;
	margin-top: -12px;
}
.arrow_box:before {
	border-color: rgba(0, 255, 0, 0);
	border-right-color: #0f0;
	border-width: 17px;
	top: 50%;
	margin-top: -17px;
}

#btn_contact {
	position: absolute;
	top: 10px;
	left: 580px;
	font-size: 16px;
	width: 100px;
	height: 28px;
	border:1px solid #4B546A;-webkit-box-shadow: #B7B8B8 0px 1px 0px inset;-moz-box-shadow: #B7B8B8 0px 1px 0px inset; box-shadow: #B7B8B8 0px 1px 0px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 1px 10px 1px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #4ba614;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ba614), color-stop(100%, #008c00));
	background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	background-image: -o-linear-gradient(top, #4ba614, #008c00);
	background-image: linear-gradient(top, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
	padding: 8px 8px 0 8px;
	text-decoration: none;
}
#btn_contact:hover{
	border:1px solid #4B546A; background-color: #36780f;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36780f), color-stop(100%, #005900));
	background-image: -webkit-linear-gradient(top, #36780f, #005900);
	background-image: -moz-linear-gradient(top, #36780f, #005900);
	background-image: -ms-linear-gradient(top, #36780f, #005900);
	background-image: -o-linear-gradient(top, #36780f, #005900);
	background-image: linear-gradient(top, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
	cursor: pointer;
}

/* ログイン(header.php)
---------------------------------------------------- */
#header-login {
	display: block;
	height: auto;
	width: 480px;
	float: right;
	background: green;
}
#header-login h1 {
	display: none;
}
#header-login-form {
}
#header-login-form div {
	display: block;
	margin-top: 2px;
}
#header-login-form div p {
	float: left;
	margin-right: 12px;
}
#header-login-form div p:last-child {
	margin-right: 0;
}
#header-login-submit {
	position: relative;
	top: 13px;
}
#header-login label {
	color: white;
}
#header-login-user,
#header-login-pass,
#user_edit_mail {
	padding: 2px;
	margin-top: 2px;
}
#header-login-submit {
	height: 32px;
	border:1px solid #4B546A;-webkit-box-shadow: #B7B8B8 0px 1px 0px inset;-moz-box-shadow: #B7B8B8 0px 1px 0px inset; box-shadow: #B7B8B8 0px 1px 0px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 1px 10px 1px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #4ba614;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ba614), color-stop(100%, #008c00));
	background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	background-image: -o-linear-gradient(top, #4ba614, #008c00);
	background-image: linear-gradient(top, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}
#header-login-submit:hover{
	border:1px solid #4B546A; background-color: #36780f;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36780f), color-stop(100%, #005900));
	background-image: -webkit-linear-gradient(top, #36780f, #005900);
	background-image: -moz-linear-gradient(top, #36780f, #005900);
	background-image: -ms-linear-gradient(top, #36780f, #005900);
	background-image: -o-linear-gradient(top, #36780f, #005900);
	background-image: linear-gradient(top, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
	cursor: pointer;
}

/* 未使用のログインフォーム */
#login {
	display: none;
}
#login {
	position: relative;
	float: right;
}

/* ユーザー登録
---------------------------------------------------- */
#userreg {
	position: relative;
	float: left;
	display: block;
	padding: 16px;
	border: 1px solid green;
	width: 20%;
	margin-bottom: 16px;
	background: green;
	color: white;
}

#userreg h1 {
	font-size: 18px;
	margin-bottom: 16px;
	border-bottom: 1px solid seagreen;
	padding-bottom: 8px;
}

#userreg p {
	margin-bottom: 8px;
}

#userreg-submit {
	height: 32px;
	border:1px solid #4B546A;-webkit-box-shadow: #B7B8B8 0px 1px 0px inset;-moz-box-shadow: #B7B8B8 0px 1px 0px inset; box-shadow: #B7B8B8 0px 1px 0px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 1px 10px 1px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #4ba614;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ba614), color-stop(100%, #008c00));
	background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	background-image: -o-linear-gradient(top, #4ba614, #008c00);
	background-image: linear-gradient(top, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}
#userreg-submit:hover{
	border:1px solid #4B546A; background-color: #36780f;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36780f), color-stop(100%, #005900));
	background-image: -webkit-linear-gradient(top, #36780f, #005900);
	background-image: -moz-linear-gradient(top, #36780f, #005900);
	background-image: -ms-linear-gradient(top, #36780f, #005900);
	background-image: -o-linear-gradient(top, #36780f, #005900);
	background-image: linear-gradient(top, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
	cursor: pointer;
}
